.cache
.clangd
.config
build
compile_commands.json
config.cmake
enable
install

regression_*
tests/tmp.*
tests/include
tests/compiler_output_performance.txt
tests/condor/*.con
tests/condor/log/*

tests/regression/**/*
!tests/regression/**/
!tests/regression/**/test.cpp
!tests/regression/**/test.c

tests/performance/**/*
!tests/performance/**/
!tests/performance/**/test.cpp
!tests/performance/**/test.c
!tests/performance/**/*.info
!tests/performance/**/time_baseline.txt
!tests/performance/**/baseline_output.txt.xz
