**/baseline
**/baseline_pre_prof
**/baseline_with_runtime_prof
**/baseline_with_runtime_prof
**.bc
**/compiler_output.txt
**.con
**.err
**/gino_runtime_decl.c
include
**/input.txt
**.log
**.out
**/output_baseline.txt
**/output_parallelized.txt
**/parallelized
**/gino_runtime_def.cpp
performance/*/Makefile
**.profraw
regression_*/**
regression/*/Makefile
**.tmp
**.txt
**.xz
