**/baseline
**/baseline_pre_prof
**/baseline_with_runtime_prof
**/baseline_with_runtime_prof
**/compiler_output.txt
**/GINO_APIs.c
**/input.txt
**/output_baseline.txt
**/output_parallelized.txt
**/parallelized
**/Parallelizer_utils.cpp
**.bc
**.tmp
**.profraw

include
performance/*/Makefile
regression/*/Makefile
